body {
  margin: 0;
  background: #111;
  font-family: sans-serif;
  overflow: hidden;
}

.carousel-wrapper {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  perspective: 1000px;
}

.carousel-track {
  display: flex;
  align-items: center;
  transition: transform 0.6s ease;
}

.card {
  width: 300px;
  margin: 0 10px;
  text-align: center;
  opacity: 0.4;
  transform: scale(0.8);
  transition: all 0.5s ease;
}

.card.active {
  opacity: 1;
  transform: scale(1.1);
}

.card img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
}

.card.active {
  opacity: 1;
  transform: scale(1) rotateY(0deg);
}

.card h2 {
  color: white;
  margin-top: 20px;
}

.card p {
  color: #aaa;
}

.controls {
  margin-top: 40px;
  display: flex;
  gap: 30px;
  font-size: 24px;
  color: white;
}

.controls svg {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.controls svg:hover {
  transform: scale(1.2);
  color: #1db954;
}