.nav {
    width: 100%;
    height: 80px;
    background-color: #164A41;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 1px 4px 10px black;
}

.logo {
    height: 100%;
    /* background-color: bisque; */
    font-size: xx-large;
    font-style: oblique;
    display: flex;
    align-items: center;
    color: white;
    text-shadow: 1px 3px 1px black;
     
}

.nav-items {
    width: 50%;
    height: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.nav-items li{
    list-style: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    
}

.nav-items li:hover {
    background-color: green;
    border-radius: 4px;
    transition: 0.3s;
}

.btn {
    background-color: rgb(0, 117, 74);
    color: white;
    text-decoration: none;
    border: 2px solid rgb(255, 255, 255);
    padding: 8px 18px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(4, 90, 4, 0.996);
    transition: 0.5s;
}

.section{
    width: 100%;
    height: 110px;
    background-color: #051F20;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 4px 4px 110px black;
}

.section h1{
    padding-left: 100px;
    color: #DAF1DE;
    padding: 60px 60px;
    font-size: 50px;
}

.s-btn{
    background-color:  #235347;
    color: white;
    border: 2px solid black;
    padding: 8px 18px;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 800;
    cursor: pointer;
}

.s-btn:hover{
    background-color: #8EB69B;
    transition: 0.3s;
}

.hero{
    width: 100%;
    height: 100%;
    background-color: #DAF1DE;
    display: flex;
}

.left{
    width: 50%;
    height: 80%;
    background-color: #8EB69B;
}

.left>img{
    width: 900px;
    height: 405px;
    background-repeat: no-repeat;
    
}

.right{
    width: 50%;
    height: 80%;
    background-color: #051F20;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.right h2{
    color: white;
    padding-left: 70px;
    padding-top: 40px;
    font-size: 30px;
}

.right p{
    color: white;
    padding-left: 40px;
    padding-top: 45px;
    font-size: 20px;
}

 



