* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


.app {
  height: 100vh;
  background: #cfcfcf;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
 
}


.container {
  width: 370px;
  height: 550px;
  background: #fff;
  border-radius: 20px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}


.card-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 16px;
}


.name {
  /* padding-top: 13px; */
  font-size: 20px;
  font-weight: 600;
}

.para {
  font-size: 14px;
  color: #666;
  margin: 8px 0 16px;
}

.bio {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 15px;
  line-height: 1.3;
}

.container p{
  font-size: 1rem;
  margin-bottom: 8px;
}

.container strong{
  font-weight: 700;
}


/* .card-img2{
   width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
} */

/* .container1{
  width: 370px;
  height: 550px;
  background: #fff;
  border-radius: 20px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
} */

/* .info-cont{
  width: 100%;
  height: 200px;
  background-color: #666;
} */

.container1 p{
   font-size: 1rem;
  margin-bottom: 8px;
}


 
 

 


