* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #6a82fb, #9b4dca);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-container {
  width: 950px;
  height: 520px;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
}
 

.welcome-section {
  width: 50%;
  height: 100%;
  padding: 70px 60px;
  background: linear-gradient(135deg, #6a82fb, #9b4dca);
  color: white;
  position: relative;
  z-index: 2;
}

/* PERFECT CURVE */

.welcome-section::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -150px;
  transform: translateY(-50%);
  width: 320px;
  height: 700px;
  background: white;
  border-radius: 50%;
  z-index: 1;
}
 

.login-section {
  width: 50%;
  /* height: 100%; */
  /* padding: 70px 90px; */
  background: white;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-section h1 {
  font-size: 32px;
  margin-bottom: 25px;
}

.welcome-section p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 45px;
}

.gradient-btn {
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(90deg, #6a82fb, #9b4dca);
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.login-section h2 {
  text-align: center;
  margin-bottom: 45px;
  font-size: 26px;
}

/* INPUTS */

.input-box {
  position: relative;
  margin-bottom: 35px;
}

.input-box input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 12px 0;
  outline: none;
  background: transparent;
  font-size: 15px;
}

.input-box label {
  position: absolute;
  top: 12px;
  left: 0;
  color: gray;
  transition: 0.3s ease;
}

.input-box input:focus + label,
.input-box input:valid + label {
  top: -18px;
  font-size: 12px;
  color: #9b4dca;
}

.signup-text {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.signup-text span {
  color: #9b4dca;
  cursor: pointer;
  font-weight: 600;
}

/* RESPONSIVE */

@media (max-width: 900px) {
  .card-container {
    flex-direction: column;
    width: 95%;
    height: auto;
  }

  .welcome-section,
  .login-section {
    width: 100%;
    padding: 50px;
  }

  .welcome-section::after {
    display: none;
  }
}