* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f0e7e7;
  gap: 30px;
}

.card {
  width: 320px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 10px 12px 9px rgb(0, 0, 0);
  overflow: hidden;
  text-align: center;
  text-align: start;
}

.card-top {
  height: 110px;
  background: royalblue;
  display: flex;
  justify-content: center;
}

.card-top img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #fff;
  transform: translateY(50%);
  background: #fff;
}

.card-body {
  padding: 60px 20px 20px;
}

.card-body h2 {
  font-size: 20px;
  margin-bottom: 6px;
}

.card-body p {
  color: rgb(18, 1, 1);
  font-size: 14px;
  margin-bottom: 15px;
}


 
.green {
  background: #05f05b;  
  border: 2px solid rgb(99, 233, 99);
}

.golden {
  background: #f9e427;  
  border: 2px solid golden;
}

 