*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background: linear-gradient(45deg, #6D3C52,#4B2138);
    padding: 40px;
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
}

button{
    padding: 12px 30px;
    border-radius: 30px;
    border: 2px solid black;
    font-weight: 600;
    cursor: pointer;
    background: #765D67;
    color: aliceblue;
    font-size: 16px;
    transition: transform 0.2s;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
}

button:hover{
    background-color: #6D3C52;
    transform: translateY(-4px);
}

.card{
    width: 300px;
    /* height: 450px; */
    background: #A1525F;
    backdrop-filter: blur(12px);
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 7px 7px 10px black;
    color: white;
    transition: transform 0.3s;
}

.card:hover{
    transform: translateY(-8px) scale(1.03);
}


.card-header img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.card-body h3 {
    color: black;
    font-size: 18px;
    margin-bottom: 8px;
}

.card-body p {
    font-size: 16px;
    margin-bottom: 12px;
    font-weight: 500;
    text-align: left;
}

.card-body p strong{
    color: black;
}


