*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pages{
    height: 100vh;
    background-color: #163832;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; 
}